<nav class="w-full h-[116px] bg-[#F05626] py-4">
  <div class="max-w-[1200px] h-[116px] mx-auto flex flex-col gap-4">
    <div class="flex gap-[44px] text-white">
      <a href=""><img src="../../assets/logo_white.png" alt="logo" /></a>
      <a class="flex gap-[10px] items-center" href=""
        ><img
          class="w-[19px] h-[19px]"
          src="../../assets/car_check_white_19_19.png"
          alt=""
        />
        Car Audit</a
      >
      <a class="flex gap-[10px] items-center" href=""
        ><img
          class="w-[24px] h-[24px]"
          src="../../assets/support_white_24_24.png"
          alt=""
        />
        Thủ tục mua bán</a
      >
      <a class="flex gap-[10px] items-center" href=""
        ><img
          class="w-[20px] h-[16px]"
          src="../../assets/news_white_20_16.png"
          alt=""
        />
        Tin tức</a
      >
    </div>
    <div class="flex justify-between gap-[40px]">
      <div class="relative flex-1 flex">
        <img
          class="absolute top-[10px] left-[10px]"
          src="../../assets/search.png"
          alt=""
        />
        <input
          class="h-[40px] rounded flex-1 pl-10 pr-10 focus:outline-none text-sm"
          type="text"
          placeholder="Tìm kiếm trong chợ xe"
        />
        <a href="">
          <img
            class="absolute top-[10px] right-4"
            src="../../assets/preferences_circle.png"
            alt=""
          />
        </a>
      </div>
      <a class="text-white flex items-center gap-[10px]" href=""
        ><img
          class="w-5 h-5"
          src="../../assets/avatar_shape_white_20_20.png"
          alt=""
        />Đăng nhập</a
      >
      <a
        class="text-white font-semibold border-[1.5px] border-white rounded-md px-8 flex items-center gap-[10px]"
        href=""
      >
        Đăng tin
        <img
          class="w-4 h-[18px]"
          src="../../assets/add_listing_white_16_18.png"
          alt=""
      /></a>
    </div>
  </div>
</nav>
