<section class="w-full h-[394px] bg-[#23242A] py-14">
  <div class="max-w-[1200px] mx-auto">
    <img
      class="w-[117px] h-[32px]"
      src="../../assets/logo_white_117_32.png"
      alt=""
    />
    <div class="mt-6 flex justify-between">
      <div class="w-[400px] text-white text-sm">
        <div>
          ©2022 by ChoXe.net. All rights reserved. Công Ty Cổ Phần Ô Tô Xuyên
          Việt; Mã số thuế: 0304013473
        </div>
        <div class="mt-6">
          Lầu 1, B5-B6 Khu Kim Sơn - Đường Nguyễn Hữu Thọ, phường Tân Phong,
          Quận 7, TPHCM
        </div>
        <div class="mt-6 flex gap-[50px] text-xs">
          <a class="flex items-center gap-1" href="tel:+84988888888"
            ><img
              class="w-[14px] h-[14px]"
              src="../../assets/phone_white_14_14.png"
              alt=""
            />0988.888.888</a
          >
          <a class="flex items-center gap-1" href="mailto:cskh@choxe.vn"
            ><img
              class="w-[14px] h-[10px]"
              src="../../assets/email_white_14_10.png"
              alt=""
            />cskh@choxe.vn</a
          >
        </div>
        <div class="mt-6">
          <img src="../../assets/logo-bct.png" alt="" />
        </div>
      </div>
      <div class="flex flex-col uppercase font-bold text-white gap-8">
        <a href="">Giới thiệu</a>
        <a href="">Quy chế hoạt động</a>
        <a href="">Báo giá</a>
      </div>
      <div class="w-[470px] flex flex-col gap-4">
        <a
          class="flex justify-center items-center rounded-md w-full font-semibold h-10 text-[#F05626] hover:text-white border-[1.5px] border-[#F05626]"
          href=""
          >Hotline: 0988.888.888</a
        >
        <a
          class="flex justify-center items-center rounded-md w-full bg-[#F05626] text-white font-semibold h-10"
          href=""
          >Dành cho Salon, Môi giới</a
        >
      </div>
    </div>
  </div>
</section>
